@mixin styling($height) {
  .Pink {
    background-color: pink;
    height: $height;
    width: $height;
    animation: fadeinandslidein .75s;
    animation-timing-function: ease-out;

  }

  .Pink.clicked {
    animation: fadeOutPink .75s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
  }

  @keyframes fadeinandslidein {
    from { opacity: 0; margin-left: 200vw}
    to   { opacity: 1; margin-left: 0}
  }

  @keyframes fadeOutPink {
    from { opacity: 1; margin-left: 0}
    to   { opacity: 0; margin-left: -200vw}
  }
}


@media screen and (min-width: $break-small) {
  @include styling($height: calc(50vw - 30px));
}
@media screen and (min-width: $break-large) {
  @include styling($height: calc(41.6vw - 30px));
}